{% extends '../layout/layout.html' %}

{% block content %}

<div class="container" style="margin-top:20px;">
  
  <div class="row" style="padding-left:30px;">
    {% if page && page.error %}
      <i class="glyphicon glyphicon-warning-sign"></i>
      <span>
        Error: {{ page.error.message }}
      </span>
      <br/><br/>
    {% endif %}
    {% if page && page.info %}
      <i class="glyphicon glyphicon-info-sign"></i>
      <span>
        {{ page.info.message|json|raw }}
      </span>
    {% endif %}
  </div>
  
</div>

{% endblock %}
